<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  /*float: right;*/
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>

<form action="/action_page.php">

  <div class="container">
    <table style="width:100%">
        <tr>
            <td style="width:20%"></td>
            <td><h2>Bitbucket Login</h2></td>
        </tr>
           <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <div class="aui-page-panel-nav">
                    <nav class="aui-navgroup aui-navgroup-vertical">
                        <div class="aui-navgroup-inner">
                            <ul class="aui-nav">
                                <li class="aui-nav-selected"><a href="${req.contextPath}//secure/BitbucketpluginModule.jspa">Bitbucket Login Page</a></li>
                                </ul>
                        </div>
                    </nav>
                </div>
        <tr>
             <td style="width:20%; text-align:right"><label for="uname"><b>Url: </b></label></td>
              <td><input type="text" placeholder="Enter Bitbucket Url" name="Burl" required style="width:300px"></td>
        </tr>
        <tr>
            <td style="width:20%; text-align:right"><label for="uname"><b>Username : </b></label></td>
            <td><input type="text" placeholder="Enter Username" name="uname" required style="width:300px"></td>
        </tr>
        <tr>
            <td style="width:20%; text-align:right"><label for="psw"><b>Password : </b></label></td>
            <td> <input type="password" placeholder="Enter Password" name="psw" required  style="width:300px"></td>
        </tr>
        <tr>
            <td style="width:20%"></td>
            <td><button type="submit">Test connection</button> <button type="button" class="cancelbtn">Cancel</button></td>
        </tr>
        <tr>
            <td style="width:20%"></td>
            <td>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </td>
        </tr>
        <tr>
            <td style="width:20%"></td>
            <td>
                <span class="psw"> <a href="#">Forgot password?</a></span>
             </td>
        </tr>
    </table>
  </div>
</form>

</body>
</html>